﻿@charset "utf-8";
*, :before, :after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #43557b;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: url("../img/b2.png"), linear-gradient(#9a9a9a, #ffffff);
}

a {
    color: #061a44;
}

h1 {
    font-size: 35px;
}

button {
    padding: 5px 10px;
    background: #a34e46;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-control {
    padding: 10px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(67, 85, 123, 0.65);
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login-form p {
    margin: 1em;
}

.success {
    color: #167c46;
}

.danger {
    color: #a34e46;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background: url("../img/bg1.png") no-repeat center, radial-gradient(#ffffff, #a5a5a6) no-repeat center;
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.21);
    justify-content: space-between;
    min-height: 100%;
}

.header {
    padding: 45px 30px 10px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #061a44;
}

.header .empty {
    flex: 0 1 85px;
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
    flex: 0 1 400px;
}

.header .logo img {
    margin-right: 15px;
}

.header .logo b {
    font-size: 34px;
    line-height: 24px;
    letter-spacing: 1px;
    position: relative;
}

.header .logo b:after {
    content: '®';
    font-size: 17px;
    position: absolute;
    right: -15px;
    top: -5px;
}

.header .logo small {
    font-size: 14px;
    display: block;
    letter-spacing: -1px;
}

.header .about {
    white-space: nowrap;
    font-size: 16px;
    min-height: 60px;
    flex: 0 1 280px;
}

.header .about a {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
}

.header .about p {
    margin: 15px 0 0 0;
}

.header .locations {
    font-weight: bold;
    font-size: 12px;
    flex: 1 1 135px;
    min-height: 50px;
}

.header .locations .online span {
    color: #3e885e;
}

.header .locations p {
    margin: 7px 0 0 0;
}

.header .locations p img {
    vertical-align: middle;
}

.header .phone {
    font-size: 12px;
    flex: 1 1 200px;
}

.header .phone a {
    font-size: 16px;
    font-weight: bold;
    display: block;
    letter-spacing: 2px;
    text-decoration: none;
}

.main {
    flex-grow: 5;
}

.custom-radio {
    position: absolute;
    left: -9999px;
}

.custom-radio + label {
    position: relative;
    padding: 0 0 0 20px;
}

.custom-radio + label:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    padding: 4px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #9099b1;
    background-clip: content-box;
}

.custom-radio:checked + label:before {
    background-color: #43527a;
}

/* главная странциа */
.home {
    max-width: 825px;
    margin: 19vh auto 20vh auto;
    color: #061a44;
    padding: 0 20px;
}

.home h1 {
    font-weight: 600;
    margin: 0 0 8px 0;
    line-height: 50px;
    letter-spacing: 1px;
}

.home form {
    margin: 28px 0 0 0;
}

.red-h-line {
    width: 50px;
    height: 10px;
    background: #a54e45;
}

.home .txt {
    font-size: 20px;
}

.home .input-bg {
    background: #ffffff;
    max-width: 785px;
    min-height: 80px;
    margin: 17px 0 15px 0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 18px;
    color: #5d6371;
    font-size: 14px;
}

#inputSearch {
    border: 0;
    height: 40px;
    width: 100%;
    margin: 0 2%;
    outline: #000000;
}

#inputSearch:focus {
    border-bottom: 1px solid #061a44;
}

.home .input-bg label {
    padding: 0 20px 0 30px;
    white-space: nowrap;
    height: 20px;
    margin: 0;
    cursor: pointer;
}

.home .input-bg button {
    background: #a34e46 url("../img/ico7.png") no-repeat center;
    border: 0;
    outline: 0;
    min-height: 56px;
    min-width: 59px;
    border-radius: 20px;
    cursor: pointer;
}

#searchResult {
}

#searchResult table {
    width: 100%;
    table-layout: fixed;
}

#searchResult .tbl-header {
    background-color: rgba(16, 131, 224, 0.34);
}

#searchResult .tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(16, 131, 224, 0.34);
}

#searchResult th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;

    text-transform: uppercase;
}

#searchResult td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    border-bottom: solid 1px rgba(16, 131, 224, 0.34);
}

/* карточка */
.card {
    margin: 35px 0 0 0;
}

.card-header {
    background: rgba(107, 107, 108, 0.31);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 13px 15px 20px 55px;
}

.card-title {
    margin: 0;
    border-left: 8px solid #ba4d44;
    padding: 4px 15px;
    color: #061a44;
    font-size: 28px;
    line-height: 24px;
}

.card-title small {
    font-size: 14px;
    display: block;
    line-height: 15px;
}

.card-body {
    background: #dedede;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: -10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

.card-col {
    flex: 1 1 32%;
    padding: 20px 35px;
    font-size: 14px;
}

.card-col:nth-child(1) {
    background: #d6d6d6;
    border-top-left-radius: 10px;
    padding: 20px 20px 20px 55px;
    flex: 1 1 450px;
}

.card-col .title {
    font-size: 21px;
    font-weight: 500;
    margin: 9px 0;
}

.card-col .grey-line {
    background: #727579;
    width: 50px;
    height: 8px;
}

.col-header {
    margin: 12px 0;
    font-size: 28px;
}

.card-col .title-1 {
    color: #5a6475;
    font-size: 20px;
}

.card-col p {
    margin: 0 0 20px 0;
    line-height: 20px;
}

.cert_active,
.cert_stopped {
    color: #7ebc91;
    border: 1px solid #7ebc91;
    border-radius: 10px;
    font-size: 21px;
    line-height: 22px;
    padding: 15px 15px 15px 60px;
    background: url("../img/ico10.png") no-repeat 9px center;
    display: inline-block;
    margin-bottom: 33px;
}

.cert_stopped {
    color: #d76560;
    border: 1px solid #d76560;
    background: url("../img/ico11.png") no-repeat 9px center;
}

.cert-download {
    background: url("../img/ico3.png") no-repeat left center;
    padding: 20px 0 20px 50px;
    display: inline-block;
    text-decoration: none;
}

/* все записи */

.all-section {
    margin: 20px;
}

.all-section table {
    border-collapse: collapse;
    width: 100%;
}

.all-section table thead {
    text-align: left;
}

.all-section table td {
    border: 1px solid #5a6475;
    padding: 3px;
}

.std-section {
    margin: 20px;
}

/* footer */
.footer {
    font-family: 'Fira Sans', sans-serif;
    font-size: 10px;
    background: #3f4352;
    color: #e9eef9;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
}

.footer .col {
    flex: 1 1 250px;
    align-items: center;
    display: flex;
    padding: 5px 15px;
}

.footer .col:last-child {
    flex-basis: 420px;
}

.footer .col img {
    margin: 0 10px 0 0;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlayBox {
    position: absolute;
    top: 50%;
    max-width: 600px;
    background: #ffffff;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 10px;
}

#overlayPad {
    border-left: 8px solid #a54e45;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
}

/* админ */
.admin-nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.admin-nav a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background: #2981b2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.company-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-form p {
    flex: 1 1 50%;
    min-width: 280px;
    padding: 3px 10px;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.label_refused_ik {
    text-align: right;
}

@media (min-width: 1300px) {
    .header .about {
        margin-left: 30px;
    }
}

#section_8 h3 {
    font-size: 16px;
    font-weight: normal;
    position: relative;
    margin: 0 0 3px 0;
}

#section_8 h3:after {
    content: ' ';
    position: absolute;
    height: 1px;
    background: #cbcbcb;
    width: 250px;
    bottom: -7px;
    left: 0;
}

#section_8 .container {
    display: flex;
    justify-content: center;
    padding: 17px 0 0 0;
}

#section_8 .container .col-1 {
    flex: 0 0 480px;
}

#section_8 .container .col-2 {
    flex: 0 0 480px;
}

#section_8 .col-1 h3:before {
    content: ' ';
    background: url("../img/footer-icon-2.png") no-repeat;
    width: 25px;
    height: 28px;
    position: absolute;
    top: -5px;
    left: -35px;
}

#section_8 .col-1 .button {
    margin: 15px 0 0 0;
}

#section_8 .row {
    display: flex;
}

#section_8 .lic {
    margin: 15px 80px 15px 0;
}

#section_8 .col-2 h3 {
    margin-left: 50px;
}

#section_8 .col-2 h3:before {
    content: ' ';
    background: url("../img/rupor.png") no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: -3px;
    left: -35px;
}

#section_8 .col-2 .row {
    padding: 15px 10px 10px 50px;
}

#section_8 .col-2 .img {
    flex: 0 0 110px;
}

#section_8 .col-2 .img img {
    margin-top: 30px;
}

.section-title {
    font-size: 29px;
    font-weight: normal;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 17px;
}

.section-title:after {
    content: ' ';
    position: absolute;
    height: 1px;
    background: #cbcbcb;
    width: 250px;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%);
}

.refused_cell{
    background: #ee6140;
}